<launch>
    <node pkg="circle_det" type="circle_det_node" name="circle_det_node" output="screen">
        <param name="image_topic" type="string" value="/camera/image_raw"/>
        <param name="circle_topic" type="string" value="/circle"/>
        
        <param name="xmax1" type="double" value="20.97"/>
        <param name="xmin1" type="double" value="16.01"/>
        <param name="ymax1" type="double" value="24.99"/>
        <param name="ymin1" type="double" value="18.61"/>
        <param name="zmax1" type="double" value="3.5"/>
        <param name="zmin1" type="double" value="1.0"/>
        
        <param name="xmax2" type="double" value="11.1"/>
        <param name="xmin2" type="double" value="8.07"/>
        <param name="ymax2" type="double" value="23.45"/>
        <param name="ymin2" type="double" value="19.57"/>
        <param name="zmax2" type="double" value="3.5"/>
        <param name="zmin2" type="double" value="1.0"/>
    </node>
</launch>
